#fondo {
    background-size: cover 0%;
    font-family: Arial, Helvetica, sans-serif;
}
#d1 {
    background-color:rgb(204, 204, 204);
    border: solid 2px black;
    border-radius: 10%;
    width: 400px;
    height: 500px;
    text-align:center;
    margin: auto;
    color: rgb(0, 0, 0);
}
#boton {
    border-radius: 20%;
    height: 50px;
    width: 70px;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}



#btrivial {
    background-color: rgb(255, 254, 170);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#titol {
    text-align: center;
}
.foto {
    width: 300px;
    height: 200px;
    border: solid 1px black;
}
#contingut {
    text-align: left;
}
#quadre {
    border: rgb(0, 0, 0) solid 2px;
    width: 700px;
    padding-bottom: 50px;
    margin: auto;
}